<aside class="input-help input-help-focused input-help-signup input-help-balloon password-help-balloon">
  <h3>Your password</h3>
  <ul>
    <li
      {{^hasEnteredPassword}}class="unmet"{{/hasEnteredPassword}}
      {{#isTooShort}}class="fail"{{/isTooShort}}
      {{^isTooShort}}class="met"{{/isTooShort}}
    >{{#t}}Must be at least 8 characters{{/t}}</li>
    <li
      {{^hasEnteredPassword}}class="unmet"{{/hasEnteredPassword}}
      {{#isTooShort}}class="unmet"{{/isTooShort}}
      {{#isSameAsEmail}}class="fail"{{/isSameAsEmail}}
      {{^isSameAsEmail}}class="met"{{/isSameAsEmail}}
    >{{#t}}Must not be your email address{{/t}}</li>
    <li
      {{^hasEnteredPassword}}class="unmet"{{/hasEnteredPassword}}
      {{#isTooShort}}class="unmet"{{/isTooShort}}
      {{#isSameAsEmail}}class="unmet"{{/isSameAsEmail}}
      {{#isCommon}}class="fail"{{/isCommon}}
      {{^isCommon}}class="met"{{/isCommon}}
      >{{#unsafeTranslate}}Must not match this <a href="/common_passwords">list of common passwords</a>{{/unsafeTranslate}}</li>
    <li class="lock">{{#t}}Should not be used for other accounts{{/t}}</li>
  </ul>
</aside>
