<div class="input-help input-help-focused input-help-signup input-help-balloon">
  Your password
  <ul>
    <li {{#isPasswordOver8Characters}}class="met"{{/isPasswordOver8Characters}}>Must be at least 8 characters</li>
    <li {{#isPasswordDifferentToEmailAddress}}class="met"{{/isPasswordDifferentToEmailAddress}}>Must not be your email address</li>
    <li {{#isPasswordNotCommon}}class="met"{{/isPasswordNotCommon}}>Must not be your email address</li>
    <li>Should not be used for other accounts</li>
  </ul>
</div>
